In [2]:
#30 Reindex with ffil
#29 Reindex Method
#27 Deleting Data
#31 Selection wit h Loc and iloc
#25 Arithmetic & Data Alignment
#26 Arithmetic Methods with Fill Values
#24 Function Application and Mapping
#28 Function Application and Mapping Part 2
import numpy as np
import pandas as pd

In [21]:
#30
# Reindex is a method of DataFrame,iske ander aik parameter hai jska naam bhi method hi hai
# ffil aik value hai

#df bnaya, range and reshape use kr k
states = pd.DataFrame(np.arange(9).reshape (3,3), index = ['a','b','c'], columns = ['pehla', 'dusra', 'teesra'])
print (states, '\n')


#reindexing kr rhy hain ab
#added new column, jsmn NaN value show hrhi hai
##using reindex parameter (name is method), ffill = last column ki values uthakr place krdeta hai
# row per apply hga
# alphabetical and numbers order matter for method ffill and bfill ( random strings per error dega)
states = states.reindex(['b','c','a','d'], method = 'ffill')
print (states, '\n')

#adding column using reindex, ffill apply nhn hga idhr
states = states.reindex(columns = ['pehla', 'teesra', 'dusra', 'chouta'])
print (states, '\n')

   pehla  dusra  teesra
a      0      1       2
b      3      4       5
c      6      7       8

   pehla  dusra  teesra
b      3      4       5
c      6      7       8
a      0      1       2
d      6      7       8

   pehla  teesra  dusra  chouta
b      3       5      4     NaN
c      6       8      7     NaN
a      0       2      1     NaN
d      6       8      7     NaN

In [23]:
#29 Reindex Method

#reindex with range
a = pd.DataFrame(['talha','ali','hamza'], index = [0,3,6]) 
print (a, '\n')

#rows barhgyn, values usi index per rhi jisper assign kri thi
#range() python mn use hua krta tha
b = a.reindex(range(9))
print (b, '\n')

#filling values
c = a.reindex(range(9), method = 'ffill')
print (c, '\n')

#backfill bfll()
d = a.reindex(range(2,8), method = 'bfill')
print (d)

       0
0  talha
3    ali
6  hamza

       0
0  talha
1    NaN
2    NaN
3    ali
4    NaN
5    NaN
6  hamza
7    NaN
8    NaN

       0
0  talha
1  talha
2  talha
3    ali
4    ali
5    ali
6  hamza
7  hamza
8  hamza

       0
2    ali
3    ali
4  hamza
5  hamza
6  hamza
7    NaN

In [30]:
#27 Deleting Data

data_df = pd.DataFrame(np.arange(16).reshape(4, 4), 
             index=['one', 'two', 'three', 'four'],
             columns=['ohio', 'colorado', 'utah', 'new York'])
print(data_df, '\n')

#deleting row, automatically axis = 0 hai (which means row)
# jo hmne naam define kra hai index k wohi mention krskty hain buss (inital index sey nhn krskty)
data_df = data_df.drop('two')
print(data_df, '\n')

#deleting row,  axis = 1  (which means columns), mention krna zarori hai
data_df = data_df.drop('colorado', axis =1)
print(data_df, '\n')

#inplace = true meaning - main dataframe per effect hu, ksi variable mn save na krwarhy hun tu
data_df.drop('four', inplace = True)
print(data_df, '\n')

       ohio  colorado  utah  new York
one       0         1     2         3
two       4         5     6         7
three     8         9    10        11
four     12        13    14        15

       ohio  colorado  utah  new York
one       0         1     2         3
three     8         9    10        11
four     12        13    14        15

       ohio  utah  new York
one       0     2         3
three     8    10        11
four     12    14        15

       ohio  utah  new York
one       0     2         3
three     8    10        11

In [39]:
# Indexing, Selection, and Filtering

data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])
print(data_df, "\n")

#indexing is a subset of selection
# Selection (using column names) - printing columns
# ander brackets [] zarori hain
df2 = data_df[ ["one", "three"] ]
print(df2, "\n")

# filtering (using index number) - printing rows
df3 = data_df[2:] 
print(df3, "\n")

# dicitonary like style of accessing data
print(data_df["one"] , "\n")

# dictionary style k ander column k ander ki rows per apply hga
print(data_df["one"] [1:3], "\n")

# attribute like style of accessing data
print (data_df.one, "\n")

# filter on both row and column, column 'one' k 0 and 1st index value show hgi
print(data_df.one[0:2], "\n") 

# Conditonal Filtering/Selection
# column 3 ki woh values show krega which are greater then 5
print ( data_df[data_df['three'] > 5] , "\n")

# Boolean filtering/conditioning
f2 = data_df["three"] > 5
print(f2, "\n")

# sirf woh wali rows show krega jdhr column 'three' is greater then 5
print( data_df[  data_df["three"] > 5  ] )

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

Ohio         0
Colorado     4
Utah         8
New York    12
Name: one, dtype: int32

asdasdasdasdasa
Colorado    4
Utah        8
Name: one, dtype: int32

Ohio         0
Colorado     4
Utah         8
New York    12
Name: one, dtype: int32

Ohio        0
Colorado    4
Name: one, dtype: int32

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [5]:
#31 Selection with Loc and iloc
# loc mn column, index names k through slicing hti hai
# iloc mn with index, column predifined numbers


data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])
print(data_df, "\n")

# in the loc method specify row label first, then specify column names
# remember! mutiple column names require array notation
# sbhse pehle row names (user defined), then hmare define krewe column names
print( data_df.loc[['Colorado','Ohio'], ['two',  'three'] ], "\n")

#other direct method
# sbhse pehle column name (user defined), then IMPORTANT index number (computer defined)
print(data_df[['two',  'three']] [1:3], "\n")

# iloc - using number instead of labels/names
# 2: (3rd and 4th row), [3, 0, 1] (4th then 1st then 2nd column)
print( data_df.iloc[2:, [3, 0, 1] ] , "\n")
print ( data_df.iloc[ :3 , :3 ] , "\n")

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          two  three
Colorado    5      6
Ohio        1      2

          two  three
Colorado    5      6
Utah        9     10

          four  one  two
Utah        11    8    9
New York    15   12   13

          one  two  three
Ohio        0    1      2
Colorado    4    5      6
Utah        8    9     10

In [39]:
#25 Arithmetic & Data Alignment

df1 = pd.DataFrame(np.arange(9).reshape((3, 3)), 
                   columns=list('bcd'), 
                   index=['Ohio', 'Texas', 'Colorado'])

df2 = pd.DataFrame(np.arange(12).reshape((4, 3)), 
                   columns=list('bde'),
                    index=['Utah', 'Ohio', 'Texas', 'Oregon'])

print(df1, '\n')
print(df2, '\n')
print()

# applying plus operation between two data frames
# NOTE: jin rows k naam same hai udhr addition hui hai bus, 
# NOTE: jin columns k naam same hai buss udhr addition hui hai
df3 = df1 + df2
print(df3, '\n')

          b  c  d
Ohio      0  1  2
Texas     3  4  5
Colorado  6  7  8

        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11


            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [59]:
#26 Arithmetic Methods with Fill Values

df1 = pd.DataFrame(np.arange(12).reshape((3, 4)),
                   columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20).reshape((4, 5)),
                    columns=list('abcde'))
print(df1, '\n')
print(df2, '\n')

# using loc method to replace value, 1 row/ b column
df2.loc[1, 'b'] = 99
print(df2)

# direct + operation without fill_value
df3 = df1 + df2
print(df3, '\n')

# We can use add method for filling NaN cells with a value
# Nan will be replaced by 0 and then addition operation will apply
# ddition using a method with replacing Nan with 0,1,2,3,4,5
df3 = df1.add(df2, fill_value=1000)
print(df3)

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

    a   b   c   d   e
0   0   1   2   3   4
1   5  99   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
      a      b     c     d   e
0   0.0    2.0   4.0   6.0 NaN
1   9.0  104.0  13.0  15.0 NaN
2  18.0   20.0  22.0  24.0 NaN
3   NaN    NaN   NaN   NaN NaN

        a       b       c       d       e
0     0.0     2.0     4.0     6.0  1004.0
1     9.0   104.0    13.0    15.0  1009.0
2    18.0    20.0    22.0    24.0  1014.0
3  1015.0  1016.0  1017.0  1018.0  1019.0

In [62]:
#24 Function Application and Mapping

frame  = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(frame, '\n')
#print(np.abs(frame))

#print(frame["d"]. min())
#print(frame["d"].max())
#print(frame["d"].max() - frame["d"]. min())

f = lambda x: x.max() - x.min() 

df = frame.apply(f)
print(df, type(df))

#df = frame.apply(f, axis=1)
#print(df)

#def min_max(x):
#   return pd.Series( [x.max() - x.min() ], index=['min-max'])    

#df = frame.apply(min_max)
#print(df, type(df))

               b         d         e
Utah    0.107138  0.880179 -1.125368
Ohio   -0.634685 -0.308260 -0.207262
Texas  -0.001852 -0.193460  0.290897
Oregon  0.981504 -0.013691  0.483435

b    1.616189
d    1.188440
e    1.608803
dtype: float64 <class 'pandas.core.series.Series'>